button {
      -webkit-appearance: none;
      background-color: #EABFCB;
      border: none;
      color: black;
      padding: 3.75px 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 8x;
      border-radius: 1px;
      margin-right: 2px;

}

.play-pause {
  background-color: #EABFCB;
  border: none;
  color: black;
  padding: 5px 10.6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 13px;

}

.play {
  background-color: #EABFCB;
  border: none;
  color: black;
  padding: 5px 10.6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 2px;
  border-radius: 13px;
}

.next {
  background-color: #EABFCB;
  border: none;
  color: black;
  padding: 7.5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 13px;

}


.seek-bar {
-webkit-appearance: none;  /* Override default CSS styles */
 appearance: none;
 width: 100%; /* Full-width */
 height: 10px; /* Specified height */
 border-radius: 5px;
 background: #d3d3d3; /* Grey background */
 opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
 -webkit-transition: .2s; /* 0.2 seconds transition on hover */
 transition: opacity .2s;
}

.seek-bar:hover {
    opacity: 3;
}
