.App {
  text-align: center;
  font-family: "Fenice";
        background-image: url("./floralbackground.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;

}



img {
  padding-bottom: 0px;
}

.pinkheader {
  background-color: #fde7f7;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 0px;
  margin-top: 50px;
}

.appnav {
  display: flex;
  justify-content: flex-start;
  color: #F6316A;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 0px;
  font-size: 45px;
}

.ion-planet {
  padding-right: 10px;
}

a:visited{
  color:#F6316A
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
     font-family: 'Fenice';
     src: url("./FeniceStd-Oblique.otf");
     font-weight: normal;
   }
